html {
  font-family: "Lato", sans-serif;
}

body > * {
  max-width: 1024px;
  margin: 0 auto;
}

header {
  padding: 0 40px;
  box-sizing: border-box;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
}

.logo > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo > div span {
  padding-left: 15px;
  color: #444;
}

.logo > div span:first-child {
  font-size: 20px;
  font-weight: 700;
}

.logo > div span:last-child {
  font-size: 14px;
  font-weight: 400;
}

.menu a {
  color: #444;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
}

.menu a:hover {
  background: #1bbc9b;
  color: #fff;
}

#home {
  background-image: url("./img/jumbotron.png");
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  box-sizing: border-box;
}

#home * {
  margin: 0;
}

h1 {
  font-size: 55px;
  font-weight: 300;
  text-transform: capitalize;
}

h1 span {
  font-weight: 700;
}

#home p {
  width: 70%;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

#home a.next {
  padding: 10px;
  background: #1bbc9b;
  text-decoration: none;
  color: inherit;
}

.more {
  background: #fff;
  display: block;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio {
  padding: 55px 0 35px 0;
}

#portfolio > * {
  font-weight: 400;
  text-align: center;
  margin: 0;
}

#portfolio h2 {
  font-size: 28px;
  text-transform: capitalize;
  margin-bottom: 15px;
}

#portfolio p {
  font-size: 16px;
}

#sub-nav {
  text-align: center;
}

.links {
  padding: 10px;
  background: #1bbc9b;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin: 5px;
}

.links:hover {
  background-color: #16a086;
}

#wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 55px;
}

#wrapper div {
  margin: 0 35px 35px 35px;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  cursor: pointer;
}

#wrapper div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(22, 160, 134, 0.75);
  width: 180px;
  height: 180px;
}

#wrapper div:nth-child(2):hover p {
  visibility: visible;
}

#wrapper div:nth-child(2) p {
  margin: 0;
  color: #ffffff;
  font-weight: 400;
  text-transform: capitalize;
  visibility: hidden;
}

#wrapper div:nth-child(2) p:first-child {
  font-size: 18px;
}

#wrapper div:nth-child(2) p:last-child {
  font-size: 14px;
  margin: 10px 0 40px 0;
}

#about-us {
  /* height: 650px; */
  background-color: #16a086;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#about-us h2 {
  text-transform: capitalize;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  margin: 55px 0 15px 0;
}

#about-us span {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

#about-us div.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 76%;
}

.about div {
  height: 415px;
  width: 220px;
  background-color: #ffffff;
  color: #444444;
  text-transform: capitalize;
  text-align: center;
  margin: 40px 0 75px 0;
}

.about h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 0 0;
}

.about h4 {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
}

.about p {
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  margin: 20px 15px 20px 10px;
}

.about img {
  cursor: pointer;
}

.about img + div.hidden {
  background-color: rgba(22, 160, 134, 0.8);
  width: 180px;
  height: 50px;
  position: absolute;
  top: 1425px;

  right: 45.3%;
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about img:hover + div.hidden {
  visibility: visible;
}

#contact-us > * {
  margin: 0;
}

#contact-us {
  background-color: #ecf0f1;
  color: #444444;
  height: 500px;
}

#contact-us h3 {
  font-size: 28px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  padding-top: 50px;
}

#contact-us h4 {
  font-size: 14px; /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
}

.contact {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  height: 280px;
}

.contact div.col1 {
  display: flex;
  width: 50%;
  padding-left: 40px;
  flex-direction: column;
  justify-content: space-between;
}

.contact div.col2 {
  display: flex;
  width: 50%;
  padding-left: 0px;
  flex-direction: column;
  /* justify-content: space-between; */
}

.col2 p {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-transform: capitalize;
}

div.col2 span {
  text-transform: uppercase;
}

div.col2 p:nth-child(2) {
  margin-top: 25px;
}

div.col2 p:nth-child(5) {
  margin-top: 25px;
  margin-bottom: 20px;
}

div.col2 p:nth-child(6) {
  margin-bottom: 20px;
}

div.col2 p:nth-child(7) {
  text-transform: none;
}

.contact div div.test2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 460px;
  padding-left: 0;
}

div input {
  border-style: solid;
  border-width: 2px;
  border-color: #bec3c7;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 220px;
  height: 50px;
  padding-left: 15px;
}

textarea {
  border: 2px solid #bec3c7;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 460px;
  height: 150px;
  padding-left: 15px;
  padding-top: 20px;
}

[type="submit"] {
  background-color: #1bbc9b;
  width: 115px;
  height: 40px;
  align-items: flex-end;
}

textarea + div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  width: 460px;
}

::-webkit-input-placeholder {
  font-family: Lato;
  color: #999999;
  font-size: 14px;
  font-style: italic;
  text-align: left;
  /* padding-left: 15px;
  padding-top: 20px; */
}

.submit {
  background: #1bbc9b;
  text-decoration: none;
  color: inherit;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 40px;
  letter-spacing: 0.15em;
}

div a:hover {
  background-color: #16a086;
}

footer {
  background-color: #2d3e50;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  padding: 0 40px;
  box-sizing: border-box;
}

footer span {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}

footer a {
  background-color: #1bbc9b;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a:hover {
  background-color: #16a086;
}
